*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: serif;
}
body{
    background-color: darksalmon;
    height: 100vh;

}
.card{
    padding-top: 20px;
    display: flex;
    background-color:antiquewhite ;
    border-radius: 15px;
    width: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(800px, 0px);
    list-style:inside ;
    padding-left: 10px ;
    padding-right: 10px;
}
img{
    width: 350px;
    height: 150px;
    border-radius: 15px;
}
.prep{
    padding-top: 10px;
    background-color: lightpink;
    width: 350px;
    height: 100px;
    padding-left: 5px;
    border-radius: 15px;
}
h2{
    color: rgb(165, 78, 78);
}