
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section{
    display: flex;
    flex-direction: column;
    background-color: hsl(47, 88%, 63%);
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: white;
    width: 375px;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px black;
    box-shadow: 10px 10px black;
}
.img{
    border-radius: 10px;
}
.Learning{
    background-color: hsl(47, 88%, 63%);
    width: 86px;
    padding: 5px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}
.h1{
    color: hsl(47, 88%, 63%) ;
}
img{
    width: 40px;
}
.hooper{
    transform: translate(50px, -35px);
    font-weight: 600;
}
.Greg-Hooper{
    transform: translateY(15px);
}