*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-button {
    display: flex;
    color: #C2FFE9;
    background-color: #00E692;
    padding: 10px 16px;
    border-radius: 20px;
    transition: all .3s ease;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    font-size: 14px;
    border: none;
}
.arrow-button1 {
    display: flex;
    color: #C2FFE9;
    background-color: #00E692;
    padding: 10px 16px;
    border-radius: 20px;
    transition: all .3s ease;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    font-size: 14px;
    border: none;
}

.arrow-button > .arrow {
    width: 6px;
    height: 6px;
    border-right: 2px solid #C2FFE9;
    border-bottom: 2px solid #C2FFE9;
    position: relative;
    transform: rotate(-45deg);
    margin: 0 6px;
    transition: all .3s ease;
}
.arrow-button1 > .arrow {
    width: 6px;
    height: 6px;
    border-right: 2px solid #C2FFE9;
    border-bottom: 2px solid #C2FFE9;
    position: relative;
    transform: rotate(135deg);
    margin: 0 6px;
    transition: all .3s ease;
}

.arrow-button > .arrow::before {
    display: block;
    background-color: currentColor;
    width: 3px;
    transform-origin: bottom right;
    height: 2px;
    position: absolute;
    opacity: 0;
    bottom: calc(-2px / 2);
    transform: rotate(45deg);
    transition: all .3s ease;
    content: "";
    right: 0;
}
.arrow-button1 > .arrow::before {
    display: block;
    background-color: currentColor;
    width: 3px;
    transform-origin: bottom right;
    height: 2px;
    position: absolute;
    opacity: 0;
    bottom: calc(-2px / 2);
    transform: rotate(45deg);
    transition: all .3s ease;
    content: "";
    right: 0;
}
.arrow-button:hover > .arrow {
    transform: rotate(-45deg) translate(4px, 4px);
    border-color: text-hover-color;
}
.arrow-button1:hover > .arrow {
    transform: rotate(135deg) translate(4px, 4px);
    border-color: text-hover-color;
}
.arrow-button:hover > .arrow::before {
    opacity: 1;
    width: 8px;
}
.arrow-button1:hover > .arrow::before {
    opacity: 1;
    width: 8px;
}

.arrow-button:hover {
    background-color: #017A4F;
    color: #fff;
}
.arrow-button1:hover {
    background-color: #017A4F;
    color: #fff;
}
.flipimg{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 70px 10px;
    border-radius: 20px;
    background-color:#C2FFE9;
}
.flipimg img{
    height: 40vh;
    border-radius: 20px;
    border:2px solid black ;
}
.flipimg button{
    margin: 30px;
}