*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;  
}

.card{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    background-color: white;
    align-items: center;
    height: 500px;
    width: 350px;
    padding-left: 30px;
    padding-top: 20px;
    border-radius: 12px;
    padding-right: 30px ;

}
img{
    border-radius: 12px;
}
h1{
    font-weight: bold;
    text-align: center;
    padding-right: 20px;
    font-size: 25px;
}
body{
    background-color: aquamarine;
    height: 100vh;
}
.cards{
    transform: translate(800px, 200px);
}