@import url('https://fonts.googleapis.com/css2?family=Rubik+Maps&display=swap');

* {
    box-sizing: border-box;
}

body{
    background-image: url(/cssday2/image/giphy.gif);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center center ;
    height: 100vh;
    font-family: "poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

h1{
    font-weight: normal;
    font-size: 60px;
    margin: -150px 0 40px;
    color: rgb(4, 255, 4);
}

p{
    font-size: 30px;
    color: rgb(4, 255, 4);
}

